# Data analysis with Python
This is a notebook for the University of Helsinki course "Data analysis with Python". The course is available as a MOOC here: https://csmastersuh.github.io/data_analysis_with_python_summer_2021/basics.html

## Exercise 1
In the first exercise, you were expected to print hello world. The actual course expects you to use Test My Code platform and clunky opensource environments. I opted for using the nifty cloud-based Datalore instead.

In [ ]:
print("Hello, World!")

Hello, World!

## Exercise 2

In exercise 2 the goal was to read an input and the input to a text string.

In [ ]:
print("What country are you from?")
country = input()
print("I have heard that " + country + " is a beautiful country.")

What country are you from?
 Sweden
I have heard that Sweden is a beautiful country.

## Exercise 3
The third exercise was about doing multiplication in a for loop

In [ ]:
base = 4
for iteration in range(0,11):
    result = base * iteration
    print(base, "multiplied by", iteration, "is", result)

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40